<mat-form-field [ngSwitch]="scale" [formGroup]="parentForm" appearance="outline">
  <mat-label>Country</mat-label>

  <ng-container *ngSwitchCase="scaleOptions.DEU_AUT_CHE">
    <mat-select #fontSize formControlName="country">
      <mat-option [value]="countryOptionsDeuAutChe.GERMANY">Germany</mat-option>
      <mat-option [value]="countryOptionsDeuAutChe.AUSTRIA">Austria</mat-option>
      <mat-option [value]="countryOptionsDeuAutChe.SWITZERLAND">Switzerland</mat-option>
    </mat-select>
  </ng-container>
  
</mat-form-field>