
<div style="margin-top: 24px; margin-bottom: 24px;" class="mat-typography">
  <form  [formGroup]="neoFfiForm" fxLayout="column" fxLayoutGap="32px" fxFlex="70" fxFlex.lt-md="90" fxFlexOffset="15" fxFlexOffset.lt-md="5">
      
      <!-- Applying the mat-typography class adds styles for native elements. -->
      <section style="text-align: center;">
        <h1 class="mat-display-4">NEO-FFI</h1>
      </section>

      <div *ngFor="let question of questions;">
        <app-likert-item [parentForm]="neoFfiForm" [scale]="scale" [questionString]="question[3]" [controlName]="question[0]"></app-likert-item>
      </div>

  </form>

  <div fxFlex></div>
</div>
