
<div fxLayout="row" style="margin-top: 32px">
  <form  [formGroup]="carCostForm" fxLayout="column" fxLayoutGap="32px" fxFlex="70" fxFlexOffset="15">
    <!-- Applying the mat-tyography class adds styles for native elements. -->
      <section style="text-align:center;">
        <h1 class="mat-display-4">Car-Cost</h1>
         <!--CONSOLE-LOG-DEBUG-->
        <span class="mat-headline">Value: {{ carCostForm.value | json}}</span> 
      </section>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="32px">
          <!--brand field -->
          <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Brand of the Car</mat-label>
              <mat-select #fontSize value="" formControlName="brand">
                  <mat-option value="bmw">BMW</mat-option>
                  <mat-option value="vw">VW</mat-option>
                  <mat-option value="audi">Audi</mat-option>
              </mat-select>
          </mat-form-field>

          <!--Color field -->
          <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Car color</mat-label>
              <input matInput formControlName="color" placeholder="Color" type="color">
          </mat-form-field>

          <!--Cost field -->
          <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Cost of the Car</mat-label>
              <input matInput formControlName="cost" placeholder="Cost of the Car" type="number">
              <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field>
      </div>

  </form>


  <div fxFlex="15"></div>
</div>
