<div fxLayout="row" style="margin-top: 32px" >

  <mat-horizontal-stepper [linear]="isLinear" #stepper fxLayout="column" fxLayoutGap="32px" fxFlex="70" fxFlexOffset="15" style="background-color: transparent;">

      <mat-step *ngIf='survey.includes(demographicOptions.GOOGLE)' [stepControl]="frmGoogleComponent">
        <ng-template matStepLabel>Google</ng-template>
        <app-google></app-google>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
  
      <mat-step *ngIf='survey.includes(demographicOptions.FACEBOOK)' [stepControl]="frmFacebookComponent">
        <ng-template matStepLabel>Facebook</ng-template>
        <app-facebook></app-facebook>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
  
      <mat-step *ngIf='survey.includes(testOptions.NEO_FFI)' [stepControl]="frmNeoFfiComponent">
        <ng-template matStepLabel>NEO</ng-template>
        <app-neo-ffi></app-neo-ffi>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
  
      <mat-step *ngIf='survey.includes(testOptions.ZM_SM)' [stepControl]="frmZmSmComponent">
        <ng-template matStepLabel>ZM</ng-template>
        <app-mp-zm></app-mp-zm>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
    
  </mat-horizontal-stepper>

</div>