<div fxLayout="row" style="margin-top: 32px">

  <mat-horizontal-stepper [linear]="isLinear" #stepper fxLayout="column" fxLayoutGap="32px" fxFlex="70" fxFlexOffset="15">
    
    <mat-step [stepControl]="frmGoogleComponent">
      <ng-template matStepLabel>Google</ng-template>
      <app-google></app-google>
    </mat-step>

    <mat-step [stepControl]="frmCarCostComponent">
      <ng-template matStepLabel>Car</ng-template>
      <app-car-cost></app-car-cost>  
    </mat-step>

    <mat-step [stepControl]="frmFoodFrequencyComponent">
      <ng-template matStepLabel>Food</ng-template>
		  <app-food-frequency></app-food-frequency>
    </mat-step>

    <mat-step [stepControl]="frmNeoFfiComponent">
      <ng-template matStepLabel>NEO</ng-template>
		  <app-neo-ffi></app-neo-ffi>
    </mat-step>

  </mat-horizontal-stepper>

</div>