<div fxLayout="row">

  <mat-horizontal-stepper [linear]="isLinear" #stepper fxLayout="column" fxLayoutGap="32px" fxFlexFill style="background-color: transparent;">

      <mat-step *ngIf='demographic.includes(demographicOptions.GOOGLE)' [stepControl]="frmGoogleComponent">
        <ng-template matStepLabel>Google</ng-template>
        <app-google></app-google>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
  
      <mat-step *ngIf='demographic.includes(demographicOptions.FACEBOOK)' [stepControl]="frmFacebookComponent">
        <ng-template matStepLabel>Facebook</ng-template>
        <app-facebook></app-facebook>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
  
      <mat-step *ngIf='test.includes(testOptions.NEO_FFI)' [stepControl]="frmNeoFfiComponent">
        <ng-template matStepLabel>NEO</ng-template>
        <app-neo-ffi></app-neo-ffi>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
  
      <mat-step *ngIf='test.includes(testOptions.MP_ZM)' [stepControl]="frmZmSmComponent">
        <ng-template matStepLabel>ZM</ng-template>
        <app-mp-zm></app-mp-zm>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Finish</ng-template>
        <section style="text-align: center;">
          <h1 class="mat-display-4">you're done.</h1>
        </section>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="finish()">Finish and show results</button>
        </div>
      </mat-step>
    
  </mat-horizontal-stepper>

</div>