<div fxFlex fxLayout="column" style="height: 100vh;" fxLayoutAlign="start center">

  <div fxFlex="15">
  </div>
  <div fxFlex="45">
    <img mat-card-image src="assets/quaerere_logo_s.png" style="height: 100%; width: auto;">
  </div>

  <div fxFlex="40">
      <form  [formGroup]="selectorForm" fxLayout="column" >

          <!--Company field -->
          <mat-form-field  appearance="outline">
              <mat-label>Token</mat-label>
              <input matInput placeholder="Enter your Token to start" value="" formControlName="token">
          </mat-form-field>

         <!-- <div fxLayoutAlign="center center">
            <button mat-raised-button color="primary" [routerLink]="['/linker']" [disabled]="!tokenValidity">Submit</button>
          </div>-->

      </form>
  </div>
</div>
