
<div fxLayout="row" style="margin-top: 32px">
  <form  [formGroup]="foodFrequencyForm" fxLayout="column" fxLayoutGap="32px" fxFlex="70" fxFlexOffset="15">
    <!-- Applying the mat-tyography class adds styles for native elements. -->
      <section style="text-align:center;">
        <h1 class="mat-display-4">Food-Frequency</h1>
         <!--CONSOLE-LOG-DEBUG-->
        <span class="mat-headline">Value: {{ foodFrequencyForm.value | json}}</span> 
      </section>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="32px">
          <!--Type field -->
          <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Type of Food</mat-label>
              <mat-select #fontSize value="" formControlName="type">
                  <mat-option value="burger">Burger</mat-option>
                  <mat-option value="pizza">Pizza</mat-option>
              </mat-select>
          </mat-form-field>

          <!--Amount field -->
          <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Amount of Food</mat-label>
              <input matInput formControlName="amount" placeholder="Amount of Food" type="number">
          </mat-form-field>

          <!--Color field -->
          <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Food color</mat-label>
              <input matInput formControlName="color" placeholder="Color" type="color">
          </mat-form-field>
      </div>

  </form>


  <div fxFlex="15"></div>
</div>
