<mat-tab-group>
    <mat-tab label="Overview">

        <div style="margin-top: 24px; margin-bottom: 24px;" class="mat-typography">
            <div fxLayout="column" fxLayoutGap="32px" fxFlex="50" fxFlex.lt-sm="90" fxFlexOffset="25" fxFlexOffset.lt-sm="5">
               <!-- Applying the mat-typography class adds styles for native elements. -->
                <h1 class="mat-display-4">Surveys</h1>
                <section fxLayout="row wrap" fxLayout.lt-md="column">

                    <mat-card *ngFor="let survey of surveyData" fxFlex="calc(50%-32px);" style="margin: 16px;">
                        <mat-card-header>
                            <mat-card-title>{{ survey.survey.name }}</mat-card-title>
                            <mat-card-subtitle>{{ survey.survey.date.toDate() | date: 'dd MMM hh:mm' }}</mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <table class="table table-hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <td>Token</td>
                                        <td>Type</td>
                                        <td>Count</td>
                                        <td>Limit</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let token of survey.token">
                                        <td>{{token.tokenDocument.name}}</td>
                                        <td>{{token.tokenDocument.type}}</td>
                                        <td>{{token.tokenDocument.count}}</td>
                                        <td>{{token.tokenDocument.limit}}</td>
                                        <td>
                                            <button color="accent" mat-icon-button ngxClipboard [cbContent]="token.tokenID">
                                                <mat-icon>file_copy</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                        </mat-card-content>

                        <mat-card-actions>
                            <button mat-raised-button color="primary" (click)="openTokenDialog(survey.surveyID)">Add Token</button>
                        </mat-card-actions>

                    </mat-card>
                </section>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button (click)="openSurveyDialog()" color="primary" mat-fab style="height: 96px; width: 96px;">
                        <mat-icon>note_add</mat-icon>
                    </button>
                </div>
            </div>
        </div>




    </mat-tab>
    <mat-tab label="View Results">

        <div style="margin-top: 24px; margin-bottom: 24px;" class="mat-typography">
            <div fxLayout="column" fxLayoutGap="32px" fxFlex="50" fxFlex.lt-sm="90" fxFlexOffset="25" fxFlexOffset.lt-sm="5">
               <!-- Applying the mat-typography class adds styles for native elements. -->
                <h1 class="mat-display-4">Results</h1>
                <section fxLayout="column" fxLayoutGap="32px">

                    <mat-card *ngFor="let survey of surveyData" fxFlex="100">
                        <mat-card-header>
                            <mat-card-title>{{ survey.survey.name }}</mat-card-title>
                            <mat-card-subtitle>{{ survey.survey.date.toDate() | date: 'dd MMM hh:mm' }}</mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <mat-accordion>
                                <mat-expansion-panel *ngFor="let token of survey.token">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ token.tokenDocument.name}}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{ token.tokenDocument.type }} |
                                            {{ token.tokenDocument.count }} |
                                            {{ token.tokenDocument.limit }} 
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <ng-container *ngIf="hasLayoutElement(survey.survey, testOptions.MP_ZM)">
                                        <h2>Zürcher Modell der sozialen Motivation</h2>
                                        <table mat-table [dataSource]="resultMap.get(token.tokenID)">

                                             <!-- Name Column -->
                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.demographic.name.last}}, {{element.demographic.name.first}}</td>
                                            </ng-container>

                                            <!-- Accomplishment Column -->
                                            <ng-container matColumnDef="accomplishment">
                                              <th mat-header-cell *matHeaderCellDef> Accomplishment </th>
                                              <td mat-cell *matCellDef="let element"> {{element.mp_zm.accomplishment}} </td>
                                            </ng-container>
                                          
                                            <!-- Initiative Column -->
                                            <ng-container matColumnDef="initiative">
                                              <th mat-header-cell *matHeaderCellDef> Initiative </th>
                                              <td mat-cell *matCellDef="let element"> {{element.mp_zm.initiative}} </td>
                                            </ng-container>
                                          
                                            <!-- Might Column -->
                                            <ng-container matColumnDef="might">
                                              <th mat-header-cell *matHeaderCellDef> Might </th>
                                              <td mat-cell *matCellDef="let element"> {{element.mp_zm.might}} </td>
                                            </ng-container>
                                          
                                            <!-- Repute Column -->
                                            <ng-container matColumnDef="repute">
                                              <th mat-header-cell *matHeaderCellDef> Repute </th>
                                              <td mat-cell *matCellDef="let element"> {{element.mp_zm.repute}} </td>
                                            </ng-container>
                                          
                                            <!-- Safety Column -->
                                            <ng-container matColumnDef="safety">
                                              <th mat-header-cell *matHeaderCellDef> Safety </th>
                                              <td mat-cell *matCellDef="let element"> {{element.mp_zm.safety}} </td>
                                            </ng-container>
                                          
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsMpZm"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsMpZm;"></tr>
                                        </table>
                                    </ng-container>

                                    <ng-container *ngIf="hasLayoutElement(survey.survey, testOptions.NEO_FFI)">
                                        <h2>Fünf-Faktoren-Modell</h2>
                                        <table mat-table [dataSource]="resultMap.get(token.tokenID)">

                                             <!-- Name Column -->
                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                                <td mat-cell *matCellDef="let element"> {{element.demographic.name.last}}, {{element.demographic.name.first}}</td>
                                            </ng-container>

                                            <!-- Agreeableness Column -->
                                            <ng-container matColumnDef="agreeableness">
                                              <th mat-header-cell *matHeaderCellDef> Agreeableness </th>
                                              <td mat-cell *matCellDef="let element"> {{element.neo_ffi.agreeableness | number : '1.2-2'}} </td>
                                            </ng-container>
                                          
                                            <!-- Conscientiousness Column -->
                                            <ng-container matColumnDef="conscientiousness">
                                              <th mat-header-cell *matHeaderCellDef> Conscientiousness </th>
                                              <td mat-cell *matCellDef="let element"> {{element.neo_ffi.conscientiousness | number : '1.2-2'}} </td>
                                            </ng-container>
                                          
                                            <!-- Extraversion Column -->
                                            <ng-container matColumnDef="extraversion">
                                              <th mat-header-cell *matHeaderCellDef> Extraversion </th>
                                              <td mat-cell *matCellDef="let element"> {{element.neo_ffi.extraversion | number : '1.2-2'}} </td>
                                            </ng-container>
                                          
                                            <!-- Neuroticism Column -->
                                            <ng-container matColumnDef="neuroticism">
                                              <th mat-header-cell *matHeaderCellDef> Neuroticism </th>
                                              <td mat-cell *matCellDef="let element"> {{element.neo_ffi.neuroticism | number : '1.2-2'}} </td>
                                            </ng-container>
                                          
                                            <!-- Openness Column -->
                                            <ng-container matColumnDef="openness">
                                              <th mat-header-cell *matHeaderCellDef> Openness </th>
                                              <td mat-cell *matCellDef="let element"> {{element.neo_ffi.openness | number : '1.2-2'}} </td>
                                            </ng-container>
                                          
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsNeoFfi"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsNeoFfi;"></tr>
                                        </table>
                                    </ng-container>
                                    
                                    
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-card-content>

                    </mat-card>
                </section>
                
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
